@use '../abstracts';

.hero-section {
  padding-top: 20px;

  @include abstracts.page-grid-full-width;

  &__inner {
    @include abstracts.page-grid-full-width;
    background-color: var(--neutral-color-96);
    border-radius: 0 0 40px 40px;
    padding-top: 120px;
  }

  &__columns {
    @include abstracts.page-grid-content;
    display: grid;
    align-items: center;
    gap: var(--gap-s);
    margin-bottom: var(--gap-s);
  }

  &__description {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      max-width: 66%;
    }

    .emoji {
      height: 72px;
      width: 72px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__button {
    align-self: center;
  }

  &__decor-image-wrapper {
    padding-inline: 20px 10px;
    height: 100%;
  }

  &__decor-image {
    margin-inline: auto;
    min-height: 280px;
    max-height: 320px;
    max-width: 791px;

    // aspect-ratio: 791 / 498;

    &::before,
    &::after {
      @include abstracts.decor-star;
      width: abstracts.fluid-size(30px, 60px, small, huge);
      background-image: var(--brand-gradient-primary);
    }

    &::before {
      transform: rotate(-7deg) translate(-50%, -50%);
      top: 78%;
      left: 0%;
    }

    &::after {
      transform: rotate(-16deg) translate(-50%, -50%);
      top: 25.7%;
      right: -8.8%;
    }
  }

  &__links {
    @include abstracts.page-grid-content;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(var(--layout-content-min-width), 1fr));
    gap: var(--gap-s);
  }

  &__link-item {
    border-radius: 20px;
    background-color: var(--neutral-color-100);

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 20px 8px;
      width: 100%;
      height: 100%;
      text-align: center;
      color: var(--neutral-color-50);
      transition-duration: var(--transition-hover);
      transition-property: color;

      &:hover {
        color: var(--brand-color-accent-primary);
      }
    }
  }

  @include abstracts.mq-from(large) {
    &__title {
      text-align: left;
      hyphens: auto;
      margin-inline: unset;
    }

    &__columns {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 60px;
    }

    &__content {
      padding-block: 20px;
      padding-right: 80px;
    }

    &__links {
      grid-template-columns: repeat(6, 1fr);
    }

    &__link-item {
      border-radius: 30px 30px 0 0;
    }

    &__decor-image-wrapper {
      justify-self: unset;
      padding-inline: 30px 60px;
    }
  
    &__decor-image {
      min-height: 497px;
      aspect-ratio: unset;
    }

    &__button {
      width: 100%;
    }
  }
}
