@use '../abstracts';

.page-footer {
  grid-column: full-width;
  padding-block: 40px;
  border-radius: 40px 40px 0 0;
  text-align: center;
  color: var(--neutral-color-100);
  background-color: var(--brand-color-primary);

  &__copyright {
    margin-bottom: 20px;
  }

  &__company-req {
    margin-bottom: 40px;

  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--neutral-color-50);


    a {
      position: relative;
      display: inline-block;
      padding-block: 3px;
      padding-inline: 5px;
      transition-duration: var(--transition-hover);
      transition-property: color;

      &:hover {
        color: var(--brand-color-accent-primary);
      }

      &:active {
        transition-duration: unset;
        color: var(--neutral-color-75);
      }
    }
  }

  &__link {
    &:not(:last-child) {
      a {
        padding-right: 6px;

        &::after {
          position: absolute;
          right: 0;
          top: 0;
          content: '';
          background-color: var(--neutral-color-50);
          width: 1px;
          height: 100%;
        }
      }
    }
  }

  @include abstracts.mq-from(large) {
    padding-block: 80px;
  }
}