mixin accordion-element(data)
  - const details = Array.isArray(data.details) ? data.details : [data.details];

  .accordion__slot
    dt.accordion__summary
      button.accordion__trigger(type='button', aria-label='Expand/Collapse')
        span.accordion__summary-text= data.summary
        span.accordion__icon
          +sprite('plus')
          +sprite('minus')
    dd.accordion__details
      .accordion__details-inner
        .accordion__details-content
          each paragraph in details
            p= paragraph

mixin accordion(list)
  dl.accordion&attributes(attributes)
    each item in list
      +accordion-element(item)
